* {
	margin:0px;
	padding:0px;
	border:none;
	outline:none;
	color:#222;	
}
body {
	font-size:12px;
	font-family:Arial,Verdana,Sans-serif;
	text-align:center;
	padding:30px 0;
	line-height:21px;	
	max-width:595px;
	max-height:842px;
}
h1,h2,h3,h4,h5,p {
	padding-bottom:8px;
	text-align: left;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 21px;
}

p {
	text-indent: 30px;
	line-height: 28px;
}

pre {
	line-height: 22px;
}

span {
	background-color:#CCC; 
	padding:4px 20px 4px 20px; 
	margin-left:10px; 
	margin-right:10px
}

#wrapper {
	width:800px;
	margin:0 auto;	
	text-align:left;
}
#content {

	padding: 30px 75px 30px 75px;
	margin-bottom: 16px;
	background: #fff;
}
.print {
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 15px;
	border: solid 1px #056fc4;
	color: #fff;
	/*background: url(/images/button.png) repeat-x 0 0;*/
}